* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  height: 200px;
}
.main-video {
  width: 100%;
  height: 310px;
}

.nav-logo {
  background-color: #d12d32;
}
.nav-logo-img {
  width: 40px;
  bottom: 100px;
}

.nav-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #d12d32;
}

.nav-logo {
  width: 10%;
}

.nav-menu {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  list-style: none;
}

.nav-profile {
  display: flex;
  width: 20%;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  align-items: center;
}

a.nav-item {
  color: white;
  text-decoration: none;
}
.main-logo-locate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: solid 2px #f1f1f1;
  background-color: #fff;
}
.page-introduce {
  padding: 0.5rem;
  color: #8c8c8c;
  size: 0.8rem;
}
