<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <script src="/common/header.js"></script>
    <main>
        <div class="main-container">
            <div class="order-payment-container">
                <p class="op-title">Order / Payment</p>
                <div class="order-payment-box">
                    <p class="opb-title ">배송 정보</p>
                    <div class="user-info-box">
                        <div class="name box">
                            <p class="item">이름 : </p>
                        </div>
                        <div class="phone  box">
                            <p class="item">전화번호 : </p>
                        </div>
                        <div class="address  box">
                            <p class="item">배송주소 : </p>
                        </div>
                        <div class="needs  box">
                            <p class="item">배송 요청 사항 : </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="order-item-container">
                <p class="order-item-title">상품 정보</p>
                <div class="order-item-box">
                    <div class="order-item-box-header">
                        <p class="head1 info">제품정보</p>
                        <p class="count info">수량</p>
                        <p class="del info">배송비</p>
                        <p class="order-price info">주문금액</p>
                    </div>

                    <div class="order-item-list">
                        
                    </div>
                </div>
                <button class="payment-btn" onClick="location.href='http://kdt-sw-7-team05.elicecoding.com/users'" ></button>
            </div>
        </div>
    </main>
    <script src="./script.js"></script>
</body>
</html>
