* {
  box-sizing: border-box;
  margin: 0;
}

main {
    position: relative;
    top: 100px;
}

footer{
    position: relative;
    top: 60px;
        margin-left: 330px;
    font-size: 30px;
}

.nav-container{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: red;
    position: fixed;
    z-index: 2;
}

.nav-box {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-logo{
    width: 20%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}

.nav-logo-img {
    width: 100px;
    height: 60px;
}

.nav-menu{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    list-style:none;
    margin: 0;
}

.nav-profile{
    display: flex;
    width: 20%;
    justify-content: space-around;
    padding: 0;
    list-style:none;
    align-items: center;
}

.nav-box a:link { color: red; text-decoration: none;}
.nav-box a:visited { color: white; text-decoration: none;}
.nav-box a:hover { color: black; text-decoration: underline;}


.nav-box-title {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.forSeelist {
    font-size: 10px;
    padding: 10px;
    margin: 0;
    border: none;
    width: 50px;
    height: 60px;
    border-radius: 10px;
    opacity: 0.2;
}

.forsee {
    position: absolute;
    left: 57%;
    top: 20%;
}

.main-img {
    background: url("./image/image\ 오후\ 1.41.13.png");
    width: 100%;
    height: 500px;
    background-size: 100%;
}

.main-container {
    width: 100%;
    padding-top: 20px;
    background-color: #ffffff;
    padding-bottom: 100px;
    background-color: rgb(253, 255, 137);
    display: none;
}

/* 메인 화면 gif 설정 */
.main-video-gif {
    width: 100%;
    height: 500px;
    /* margin-left: 70px; */
}

.sticky-container{
    width: 25%;
    position: sticky;
    top: 200px;
    display: flex;
}

.sticky-content{
    font-size: 14px;
    font-weight: 500;
}

.sticky-img {
    width: 50px;
    height: 50px;
    transition: all 3s;
}

.stick-img-happy  {
    width: 150px;
    height: 150px;
}


.main-hot-container {
    width: 100%;
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
    margin: 10px;
}

.line {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
        top: 35%;
        z-index: 0;
}

.main-box {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.main-pop-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
}

.main-hot-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
}

.main-hot-title {
    width: 25%;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    border: 1px solid black;
    margin: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    z-index: 2;
}

.main-hot-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}



.main-new-list {
        width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hot-list-box a {
    width: 90%;
    text-align: center;
}

.hot-list-box {
    display: inline-block;
    background-color: #ffffff;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid lightblue; */
    box-shadow: 5px 2px 2px smoke;
    border-radius: 20px;
    min-width: 230px;
    padding: 20px 0px 20px 0px;
}


.hot-box-img a {
    width: 80%;
    text-align: center;
}

.pop-list-box {
    display: inline-block;
    background-color: #ffffff;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid lightblue; */
    box-shadow: 5px 2px 2px smoke;
    border-radius: 20px;
    min-width: 230px;
    padding: 20px 0px 20px 0px;
}


.pop-list-box a {
    width: 100%;
    text-align: center;
}

.pop-box-img {
    transition: all 50s linear;
     width: 90%;
     border-radius: 10px;
}

.pop-box-img:hover{
    /* transform: scale(1.3); */
    animation: vibration .5s infinite;
}

.hot-box-img{
     transition: all 50s linear;
    width: 200px;
     border-radius: 10px;
     padding-right: 5px;
}


.hot-box-img:hover{
    /* transform: scale(1.3); */
    animation: vibration .5s infinite;
}

.pop-box-img{
     transition: all 50s linear;
    width: 200px;
     border-radius: 10px;
}


.pop-box-img:hover{
    /* transform: scale(1.3); */
    animation: vibration .5s infinite;
}

.hot-item-content {
    width: 200px;
    background-color: rgb(255, 111, 111);
    border-radius: 10px;
}

.hot-item-name {
    padding: 3px;
    font-size: 17px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.hot-item-price {
    padding: 3px;
    font-size: 15px;
    text-align: center;
    color: white;
}


.new-list-box {
    display: inline-block;
    background-color: #ffffff;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid lightblue; */
    box-shadow: 5px 2px 2px smoke;
    border-radius: 20px;
    margin: 10px;
    min-width: 230px;
    padding: 10px;
}


.new-list-box a {
    width: 100%;
    text-align: center;
}

.new-box-img {
     transition: all 20s linear;
     width: 100%;
}

.new-box-img:hover{
    /* transform: scale(1.3); */
    animation: vibration .5s infinite;
}

.new-item-content {
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid rgb(215, 213, 213);
    text-align: center;
}

.new-item-name {
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid rgb(215, 213, 213);
    text-align: center;
}

.new-item-price {
    padding: 10px;
    font-size: 15px;
    text-align: center;
}



.main-popular-title {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.box a {
    display: block;
}

.footer-container {
    width: 100%;
    margin-top: 5px;
    padding-top: 20px;
    border: 1px solid rgb(206, 202, 202);
    visibility: hidden;
    display: flex;
    justify-content: space-around;
}

.footer-box1{
    width: 25%;
    padding: 10px;
}

.box1-content {
    padding: 10px;
}

.add-scale{
    transform: scale(1.3);
}

.fake-footer {
    width: 100%;
    height: 200px;
    display: flex;
    text-align: center;
    align-items: center;
}

.fake-text{
    font-size: 40px;
    width: 100%;
    text-align: center;
}


@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
    transform: scale(1.5);
  }
}
