extends ../layout
block content
  div
    h1 메인페이지입니다.
    a(href="/login"): button 로그인
    a(href="/join"): button 회원가입
    a(href="/seller"): button 판매자페이지
    a(href='/mypage'): button 마이페이지
    a(href="/admin"): button 관리자페이지
    a(href="/logout"): button 로그아웃