extends ../layout
block content
  div
    h1 마이페이지입니다. 
      a(href="/mypage/orders"): button 주문조회
      a(href="/mypage/me"): button 정보관리
      a(href="/mypage/products"): button 관심상품
      a(href="/mypage/signout"): button 회원탈퇴
      a(href="/logout"): button 로그아웃