<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./index.js"></script>
  </head>
  <body>
    <script src="/common/header.js"></script>
    <main>
      <section class="best-products">
        <div class="best-name">
          <span>BEST</span>
        </div>
        <div class="products">
          <ul class="best-product-ul"></ul>
        </div>
      </section>
      <section class="figure-categories">
        <div class="figure-name best-name">
          <span>피규어</span>
        </div>
        <div class="figure-categories-names">
          <ul>
            <li id="654a637f6e9728d7b1e4e893" class="figure-categories-name">
              짱구
            </li>
            <li id="654a637f6e9728d7b1e4e895" class="figure-categories-name">
              짱아
            </li>
            <li id="654d4acf1975f752fa7f8501" class="figure-categories-name">
              신형만/봉미선
            </li>
            <li id="654d4b0d1975f752fa7f8502" class="figure-categories-name">
              친구들
            </li>
            <li id="654d4b1a1975f752fa7f8503" class="figure-categories-name">
              흰둥이
            </li>
          </ul>
        </div>
      </section>
      <section class="products">
        <ul class="product-ul">
          <!-- <div class="product-li">
            <img
              class="product-list-img"
              src="/image/1.png"
              alt="/image/1.png"
            />
          </div>
          <div class="description">
            <div class="product-name">짱구짱구 피규어</div>
            <div class="product-price">25000원</div>
            <div class="product-explain">짱구 설명입니다.</div>
          </div>
          <div class="product-li">
            <img
              class="product-list-img"
              src="/image/1.png"
              alt="/image/1.png"
            />
          </div>
          <div class="description">
            <div class="product-name">짱구짱구 피규어</div>
            <div class="product-price">25000원</div>
            <div class="product-explain">짱구 설명입니다.</div>
          </div>
          <div class="product-li">
            <img
              class="product-list-img"
              src="/image/1.png"
              alt="/image/1.png"
            />
          </div>
          <div class="description">
            <div class="product-name">짱구짱구 피규어</div>
            <div class="product-price">25000원</div>
            <div class="product-explain">짱구 설명입니다.</div>
          </div>
          <div class="product-li">
            <img
              class="product-list-img"
              src="/image/1.png"
              alt="/image/1.png"
            />
          </div>
          <div class="description">
            <div class="product-name">짱구짱구 피규어</div>
            <div class="product-price">25000원</div>
            <div class="product-explain">짱구 설명입니다.</div>
          </div> -->
        </ul>
      </section>
    </main>
    <script src="/common/footer.js"></script>
  </body>
</html>
